%h2 Agregar Alumno
= simple_form_for @pupil, :url => pupil_index_path do |f|
  = f.input :name
  = f.input :last_name
  = f.input :rut, :input_html => { :type => "number" }
  = f.input :email
  = f.input :birthday, input_html: { class: 'datepicker' }
  = f.input :notes, as: :text
  = f.button :submit, class: 'total'

:javascript

  $(document).ready(function(){
    $('body').on('focusout', '#pupil_rut', function(){
      // if(verify_rut($('#pupil_rut').val())){
      //   alert('correcto')
      // }else{
      //   alert('noooo')
      // }
    })
  })
